@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

[role=button], button {
    cursor: pointer;
}

.react-datepicker-wrapper {
    width: 100% !important;
}

@layer components {
    .input-custom {
        @apply grow pl-5 bg-transparent focus:outline-none border-transparent focus:border-transparent focus:ring-0 text-sm text-gray-600
    }
}