name: Build and publish

on:
    workflow_dispatch:
    push:
        branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest
    strategy:
        matrix:
            service:
                - name: 'svgengrawuh/auction-svc'
                  path: 'src/AuctionService'
                - name: 'svgengrawuh/search-svc'
                  path: 'src/SearchService'
                - name: 'svgengrawuh/bid-svc'
                  path: 'src/BidService'
                - name: 'svgengrawuh/identity-svc'
                  path: 'src/IdentityService'
                - name: 'svgengrawuh/gateway-svc'
                  path: 'src/GatewayService'
                - name: 'svgengrawuh/notify-svc'
                  path: 'src/NotificationService'
                - name: 'svgengrawuh/web-app'
                  path: 'frontend/web-app'

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to Docker
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Build and push docker image
      uses: docker/build-push-action@v6
      with:
          context: .
          file: ${{ matrix.service.path }}/Dockerfile
          push: true
          tags: ${{ matrix.service.name }}:latest
            